{%- comment -%} Product is accessed via closest.product in the template {%- endcomment -%}
<div class="product-block-{{ block.id }}" {{ block.shopify_attributes }}>
  {% style %}
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top }}px;
      padding-bottom: {{block.settings.padding_bottom }}px;
    }
    @media screen and (max-width: 768px) {
      .product-block-{{ block.id }} {
        padding-top: {{block.settings.padding_top_mobile }}px;
        padding-bottom: {{block.settings.padding_bottom_mobile }}px;
      }
    }
  {% endstyle %}
  {% render 'a-icon-with-text', block: block %}
</div>

{% schema %}
{
  "name": "Icon highlights",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Icon 1"
    },
    {
      "type": "inline_richtext",
      "id": "heading_1",
      "default": "1,000+ Five Star Reviews",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "icon_1",
      "label": "Options",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewbox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"M852-212 732-332l56-56 120 120-56 56ZM708-692l-56-56 120-120 56 56-120 120Zm-456 0L132-812l56-56 120 120-56 56ZM108-212l-56-56 120-120 56 56-120 120Zm246-75 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-361Z\"></path></svg>",
      "info": "Note: [View all available icons](https://fonts.google.com/icons?icon.set=Material+Symbols&icon.platform=web). You MUST copy the SVG code to display your desired icon. Its all the way at the top right of the page."
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Custom",
      "info": "35px x 35px"
    },
    {
      "type": "header",
      "content": "Icon 2"
    },
    {
      "type": "inline_richtext",
      "id": "heading_2",
      "default": "Fast & Easy Returns",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "icon_2",
      "label": "Options",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewbox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"M852-212 732-332l56-56 120 120-56 56ZM708-692l-56-56 120-120 56 56-120 120Zm-456 0L132-812l56-56 120 120-56 56ZM108-212l-56-56 120-120 56 56-120 120Zm246-75 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-361Z\"></path></svg>",
      "info": "Note: [View all available icons](https://fonts.google.com/icons?icon.set=Material+Symbols&icon.platform=web). You MUST copy the SVG code to display your desired icon. Its all the way at the top right of the page."
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Custom"
    },
    {
      "type": "header",
      "content": "Icon 3"
    },
    {
      "type": "inline_richtext",
      "id": "heading_3",
      "default": "Worldwide Shipping",
      "label": "Text"
    },
    {
      "type": "textarea",
      "id": "icon_3",
      "label": "Options",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewbox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"M852-212 732-332l56-56 120 120-56 56ZM708-692l-56-56 120-120 56 56-120 120Zm-456 0L132-812l56-56 120 120-56 56ZM108-212l-56-56 120-120 56 56-120 120Zm246-75 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-361Z\"></path></svg>",
      "info": "Note: [View all available icons](https://fonts.google.com/icons?icon.set=Material+Symbols&icon.platform=web). You MUST copy the SVG code to display your desired icon. Its all the way at the top right of the page."
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Custom"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "layout_direction",
      "options": [
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        }
      ],
      "default": "horizontal",
      "label": "Layout direction"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 12
    },
    {
      "type": "color",
      "id": "custom_icon_color",
      "label": "Icon color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 12,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 18,
      "label": "Icon size"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Desktop top padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Desktop bottom padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Mobile top padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "Mobile bottom padding",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "Icon Highlights",
      "category": "Product Information"
    }
  ]
}
{% endschema %}
