{%- render 'widget-blocker',
  enabled: settings.dbtfy_comparison_table,
  name: 'Comparison Table',
  type: '💎 Professional Widgets '
-%}

{% style %}
  .shop_logo_image {
    width: {{ section.settings.logo_size }}px;
  }

  @media (max-width: 575px) {
    .shop_logo_image {
      width: {{ section.settings.logo_size_mobile }}px;
    }
  }

  #comparison-table-{{ section.id }}{
    --table-radius: {{ section.settings.border_radius }}px;
  }
{% endstyle %}
{% if request.design_mode or settings.dbtfy_comparison_table %}
  {{ 'dbtfy-comparison-table.css' | asset_url | stylesheet_tag }}
  {% render 'section-padding', section: section %}
  {% if section.settings.pattern_bg != 'none' %}
    {% render 'dbtfy-background-pattern', setting: section.settings %}
  {% endif %}

  <dbtfy-comparison-table id="comparison-table-{{ section.id }}">
    {% liquid
      assign container_size = section.settings.container_size

      assign shop_logo = section.settings.shop_logo
      assign title_size = section.settings.title_size
      assign title_size_mobile = section.settings.title_size_mobile
      assign shop_title = section.settings.shop_title

      assign competitor_logo = section.settings.competitor_logo
      assign competitor_title = section.settings.competitor_title

      assign desktop_table_placement = section.settings.desktop_table_placement
      assign mobile_table_placement = section.settings.mobile_table_placement
      assign table_style = section.settings.table_style
    %}

    <div
      id="{{ section.id }}"
      class=" dbtfy-comparison-table section-{{ section.id }}-padding show-on--{{ section.settings.show_on}} color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient dbtfy-background-pattern-{{ section.id }}"
    >
      <div class="{{ container_size }}">
        <div class="dbtfy-comparison-table grid grid--2-col {% if desktop_table_placement == 'left' %} dbtfy-comparison-table__grid--reverse{% endif %} {% if mobile_table_placement == 'bottom' %} dbtfy-comparison-table__grid--mobile {% endif %} {% if mobile_table_placement == 'top' %} dbtfy-comparison-table__grid--reverse-mobile {% endif %} {% if section.settings.hoverable %} dbtfy-comparison-table__grid--hoverable {% endif %}">
          <div class="dbtfy-comparison-table cta-block">
            {% content_for 'block', type: '_cta_block', id: 'cta_block' %}
          </div>
          <div class="dbtfy-comparison-table-table {% if section.settings.table_style == 'centered' and section.settings.box_shadow_active == true %}custom_centered_box_shadow{% endif %}">
            <table
              class="table-style-{{ table_style }}"
            >
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <td>
                    {% if shop_logo != blank %}
                      {{ shop_logo | image_url: width: 2000 | image_tag: class: 'shop_logo_image' }}
                    {% elsif shop_title != blank %}
                      <h3 class="m-0 shop-title desktop-only {{ title_size }}">
                        {{ shop_title }}
                      </h3>
                      <h3 class="m-0 shop-title mobile-only {{ title_size_mobile }} ">
                        {{ shop_title }}
                      </h3>
                    {% endif %}
                  </td>
                  <td>
                    {% if competitor_logo != blank %}
                      {{ competitor_logo | image_url: width: 2000 | image_tag: class: 'shop_logo_image' }}
                    {% elsif competitor_title != blank %}
                      <h3 class="m-0 competitor-title desktop-only {{ title_size }}">
                        {{ competitor_title }}
                      </h3>
                      <h3 class="m-0 competitor-title mobile-only {{ title_size_mobile }}">
                        {{ competitor_title }}
                      </h3>
                    {% endif %}
                  </td>
                </tr>
              </thead>
              <tbody>
                {% content_for 'block', type: '_dbtfy-comparision-tables', id: 'dbtfy-comparision-tables' %}
                <tr>
                  <th>
                    <td></td>
                    <td></td>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </dbtfy-comparison-table>
{% endif %}
{% schema %}
{
  "name": "t:sections.comparison-table.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.comparison-table.settings.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.comparison-table.settings.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.enterprise_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ],
      "default": "both"
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "page--full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.bubble.background_pattern_settings.label"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "curved-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__1"
        },
        {
          "value": "radial-rings",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__2"
        },
        {
          "value": "diamond-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__3"
        },
        {
          "value": "quatrefoils",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__4"
        },
        {
          "value": "hexagons",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__5"
        },
        {
          "value": "intersecting-circles",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__6"
        },
        {
          "value": "brick-wall",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__7"
        },
        {
          "value": "formal-invitation",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__8"
        },
        {
          "value": "jupiter",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__9"
        },
        {
          "value": "yyy",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__10"
        },
        {
          "value": "temple",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__11"
        },
        {
          "value": "lips",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__12"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "t:settings_schema.widgets.color_swatches.option_name.default",
      "default": "#A52A2A",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.settings.size.label",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_bg != 'formal-invitation' }}"
    },
    {
      "type": "range",
      "id": "pattern_size_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.dimension.label",
      "default": 1,
      "visible_if": "{{ section.settings.pattern_bg == 'formal-invitation' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bubble.opacity",
      "default": 50,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_4"
    },
    {
      "type": "checkbox",
      "id": "hoverable",
      "label": "t:sections.comparison-table.settings.hoverable",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_table_placement",
      "label": "t:sections.comparison-table.settings.desktop_table_placement",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_table_placement",
      "label": "t:sections.comparison-table.settings.mobile_table_placement",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "select",
      "id": "table_style",
      "label": "t:sections.comparison-table.settings.table_style",
      "default": "classic",
      "options": [
        {
          "value": "classic",
          "label": "t:sections.comparison-table.settings.table_style_option.option_1.label"
        },
        {
          "value": "centered",
          "label": "t:sections.comparison-table.settings.table_style_option.option_2.label"
        },
        {
          "value": "minimalistic",
          "label": "t:sections.comparison-table.settings.table_style_option.option_3.label"
        },
        {
          "value": "leftred",
          "label": "t:sections.comparison-table.settings.table_style_option.option_4.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "box_shadow_active",
      "label": "t:settings_schema.global.settings.box_shadow",
      "visible_if": "{{ section.settings.table_style == 'centered' }}",
      "default": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:blocks.back-to-top.settings.border_radius.label",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.comparison-table.settings.shop_title_size"
    },
    {
      "type": "select",
      "id": "title_size_mobile",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.comparison-table.settings.shop_title_size_mobile"
    },
    {
      "type": "range",
      "id": "logo_size",
      "label": "t:sections.comparison-table.settings.logo_size",
      "min": 30,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "logo_size_mobile",
      "label": "t:sections.comparison-table.settings.mobile_logo_size",
      "min": 10,
      "max": 60,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_2"
    },
    {
      "type": "image_picker",
      "id": "shop_logo",
      "label": "t:sections.comparison-table.settings.shop_logo"
    },
    {
      "type": "text",
      "id": "shop_title",
      "label": "t:sections.comparison-table.settings.shop_title",
      "default": "Our Shop",
      "info": "t:sections.comparison-table.settings.info"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_3"
    },
    {
      "type": "image_picker",
      "id": "competitor_logo",
      "label": "t:sections.comparison-table.settings.competitor_logo"
    },
    {
      "type": "text",
      "id": "competitor_title",
      "label": "t:sections.comparison-table.settings.competitor_title",
      "default": "Competitior",
      "info": "t:sections.comparison-table.settings.info"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.blocks.name"
    },
    {
      "type": "select",
      "id": "table_title_size",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.dbtfy-trust-badges.settings.title-size"
    },
    {
      "type": "select",
      "id": "table_subtitle_size",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        }
      ],
      "default": "small",
      "label": "t:sections.dbtfy-trust-badges.settings.subtitle-size"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Comparison Table",
      "blocks": [
        {
          "type": "_cta_block",
          "static": true,
          "id": "cta_block",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Comparison Table"
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Talk about how and why is your brand better then the others</p>"
              }
            },
            {
              "type": "_single_button",
              "settings": {
                "button_label": "Button text"
              }
            }
          ]
        },
        {
          "type": "_dbtfy-comparision-tables",
          "static": true,
          "id": "dbtfy-comparision-tables",
          "blocks": [
            { "type": "_dbtfy-comparision-table" },
            { "type": "_dbtfy-comparision-table" },
            { "type": "_dbtfy-comparision-table" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
