{%- render 'widget-blocker', enabled: settings.dbtfy_faq, section: section, name: 'FAQ', type: '🌱 Growth widgets ' -%}
{%- if request.design_mode or settings.dbtfy_faq -%}
  <link rel="stylesheet" href="{{ 'dbtfy-faq.css' | asset_url }}" media="print" onload="this.media='all'">

  {%- render 'section-padding', section: section -%}

  {% if section.settings.pattern_bg != 'none' %}
    {% render 'dbtfy-background-pattern', setting: section.settings %}
  {% endif %}

  {% liquid
    assign border = false

    if section.settings.color_scheme == section.settings.color_scheme_block
      if section.settings.color_scheme == 'custom'
        if section.settings.custom_color_scheme == section.settings.custom_color_scheme_block
          assign border = true
        endif
      else
        assign border = true
      endif
    endif
  %}

  {% style %}
    {% if section.settings.fillable_type == 'custom' and section.settings.fillable_color == true %}
      #section-{{ section.id }} .dbtfy-fillable-color.dbtfy-faq .dbtfy-faq-question-wrapper,
      #section-{{ section.id }} .dbtfy-fillable-color.dbtfy-faq .dbtfy-faq-banner-wrapper.content-container {
        background: rgb(var(--color-background));
        background: var(--gradient-background);
        {% if border  %}
          border-color: unset;
        {% endif %}
    }

    #section-{{ section.id }} .dbtfy-fillable-color.dbtfy-faq .dbtfy-faq-banner-wrapper.content-container {
        {% if border  %}
          border: 1px solid;
        {% endif %}
    }
    {% endif %}
  {% endstyle %}

  {% liquid
    assign color_scheme_block = 'dbtfy-color-' | append: section.settings.color_scheme_block | append: ' color-' | append: section.settings.custom_color_scheme_block | append: ' gradient'
  %}

  <dbtfy-faq id="section-{{ section.id }}" data-search-enabled="{{ section.settings.show_search }}">
    <div class="dbtfy-faq show-on--{{ section.settings.show_on }} color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding {% if section.settings.fillable_color %}dbtfy-fillable-color{% endif %} dbtfy-background-pattern-{{ section.id }}">
      <div class="{% if section.settings.container_size == 'container' %}page-width{% endif %}">
        {% content_for 'block', type: '_heading', id: 'heading' %}

        {%- if section.settings.show_search -%}
          <div
            class="dbtfy-faq-search-bar text-center {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: 0;"
            {% endif %}
          >
            <div class="field">
              <input
                class=" search__input field__input"
                type="search"
                value="{{ search.terms | escape }}"
                placeholder="{{ section.settings.search_placeholder }}"
              >
              <label class="field__label">{{ section.settings.search_placeholder }}</label>
            </div>
          </div>
        {%- endif -%}
        <div
          class="dbtfy-faq-question {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 1;"
          {% endif %}
        >
          <div class="dbtfy-faq-group-wrapper">
            {% content_for 'blocks' %}

            <h2 class="dbtfy-faq-no-result">
              {{ section.settings.no_result_text }}
            </h2>
          </div>
        </div>
        <div
          class="dbtfy-faq-banner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 3;"
          {% endif %}
        >
          {%- if section.settings.show_banner -%}
            <div class="dbtfy-faq-banner-wrapper text-center content-container {% if section.settings.fillable_type == 'custom' and section.settings.fillable_color == true %} {{ color_scheme_block }} {% endif %}">
              {%- if section.settings.banner_icon != blank -%}
                <span class="dbtfy-faq-banner-icon">
                  {% render 'material-icon', icon: section.settings.banner_icon %}
                </span>
              {%- endif -%}

              {%- if section.settings.banner_heading != blank -%}
                <h2 class="dbtfy-faq-banner-heading">{{ section.settings.banner_heading }}</h2>
              {%- endif -%}

              {%- if section.settings.banner_subheading != blank -%}
                <div class="dbtfy-faq-banner-subheading">{{ section.settings.banner_subheading }}</div>
              {%- endif -%}

              {%- if section.settings.banner_button_label != blank and section.settings.banner_button_url != blank -%}
                {% assign button_size = section.settings.button_size %}
                {% if button_size == 'inherit' %}
                  {% assign button_size = settings.button_size %}
                {% endif %}
                <a
                  class="dbtfy-faq-banner-button {{ section.settings.banner_button_style }} {{ button_size }}"
                  href="{{ section.settings.banner_button_url }}"
                >
                  <span>
                    {{ section.settings.banner_button_label }}
                  </span>
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </dbtfy-faq>

  <script src="{{ "dbtfy-faq.js" | asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy-faq.name",
  "disabled_on": { "groups": ["aside"] },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-faq.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-faq.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.growth_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "container-full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-faq.settings.search.content"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:sections.dbtfy-faq.settings.show_search.label",
      "default": true
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "t:sections.dbtfy-faq.settings.search_placeholder.label",
      "default": "t:sections.dbtfy-faq.settings.search_placeholder.default"
    },
    {
      "type": "inline_richtext",
      "id": "no_result_text",
      "label": "t:sections.dbtfy-faq.settings.no_result.label",
      "default": "t:sections.dbtfy-faq.settings.no_result.default"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-faq.settings.answer.content"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:general.settings.alignment.desktop",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "text-center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "text-right",
          "label": "t:general.settings.alignment.option__6"
        },
        {
          "value": "text-justify",
          "label": "t:general.settings.alignment.option__7"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "t:general.settings.alignment.mobile",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "text-center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "text-right",
          "label": "t:general.settings.alignment.option__6"
        },
        {
          "value": "text-justify",
          "label": "t:general.settings.alignment.option__7"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-faq.settings.banner.content"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "t:sections.dbtfy-faq.settings.banner_show.label",
      "default": true
    },
    {
      "type": "text",
      "id": "banner_icon",
      "label": "t:sections.dbtfy-faq.settings.banner_icon.label",
      "info": "t:sections.all.icon.info",
      "default": "help"
    },
    {
      "type": "inline_richtext",
      "id": "banner_heading",
      "label": "t:sections.dbtfy-faq.settings.banner_heading.label",
      "default": "t:sections.dbtfy-faq.settings.banner_heading.default"
    },
    {
      "type": "richtext",
      "id": "banner_subheading",
      "label": "t:sections.dbtfy-faq.settings.banner_subheading.label",
      "default": "t:sections.dbtfy-faq.settings.banner_subheading.default"
    },
    {
      "type": "text",
      "id": "banner_button_label",
      "label": "t:settings_schema.dbfty_infinite_scroll.settings.button.label",
      "default": "t:sections.dbtfy-faq.settings.banner_button_label.default"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "t:sections.all.button.button_link_label"
    },
    {
      "type": "select",
      "id": "banner_button_style",
      "label": "t:blocks.dbtfy-product-sharing.settings.display_style.options__2",
      "options": [
        {
          "value": "link underlined-link button--link",
          "label": "t:sections.all.button.option_1_label"
        },
        {
          "value": "button button--tertiary",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "button button--primary",
          "label": "t:sections.all.button.options__3.label"
        },
        {
          "value": "button button--secondary",
          "label": "t:sections.all.button.options__4.label"
        }
      ],
      "default": "button button--secondary"
    },
    {
      "type": "select",
      "id": "button_size",
      "default": "inherit",
      "label": "t:general.settings.size.label",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "button--small",
          "label": "t:general.settings.small"
        },
        {
          "value": "button--medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "",
          "label": "t:general.settings.size.option__10"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "fillable_color",
      "label": "t:sections.dbtfy-faq.settings.fillable_color_label",
      "default": false
    },
    {
      "type": "select",
      "id": "fillable_type",
      "label": "t:sections.dbtfy-faq.settings.fillable_type_label",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "visible_if": "{{ section.settings.fillable_color == true }}"
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.bubble.background_pattern_settings.label"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "curved-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__1"
        },
        {
          "value": "radial-rings",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__2"
        },
        {
          "value": "diamond-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__3"
        },
        {
          "value": "quatrefoils",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__4"
        },
        {
          "value": "hexagons",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__5"
        },
        {
          "value": "intersecting-circles",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__6"
        },
        {
          "value": "brick-wall",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__7"
        },
        {
          "value": "formal-invitation",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__8"
        },
        {
          "value": "jupiter",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__9"
        },
        {
          "value": "yyy",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__10"
        },
        {
          "value": "temple",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__11"
        },
        {
          "value": "lips",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__12"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "t:settings_schema.widgets.color_swatches.option_name.default",
      "default": "#A52A2A",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.settings.size.label",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_bg != 'formal-invitation' }}"
    },
    {
      "type": "range",
      "id": "pattern_size_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.dimension.label",
      "default": 1,
      "visible_if": "{{ section.settings.pattern_bg == 'formal-invitation' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bubble.opacity",
      "default": 50,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-faq.settings.highlight_color_schemes_content",
      "info": "t:sections.all.color_schemes.header.info.content",
      "visible_if": "{{ section.settings.fillable_type == 'custom' and section.settings.fillable_color == true }}"
    },
    {
      "type": "select",
      "id": "color_scheme_block",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2",
      "visible_if": "{{ section.settings.fillable_type == 'custom' and section.settings.fillable_color == true }}"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme_block",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1",
      "visible_if": "{{ section.settings.fillable_type == 'custom' and section.settings.fillable_color == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_dbtfy-faq-group"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-faq.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Faq",
                "alignment": "text-center"
              }
            }
          ]
        },
        {
          "type": "_dbtfy-faq-group",
          "blocks": [
            {
              "type": "_dbtfy-faq-question"
            },
            {
              "type": "_dbtfy-faq-question"
            },
            {
              "type": "_dbtfy-faq-question"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
