{%- render 'widget-blocker',
  enabled: settings.dbtfy_order_tracking,
  section: section,
  name: 'Order tracking',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_order_tracking -%}
  {%- render 'section-padding', section: section -%}

  {%- if section.settings.pattern_bg != 'none' -%}
    {%- render 'dbtfy-background-pattern', setting: section.settings -%}
  {%- endif -%}

  {{ 'dbtfy-order-tracking.css' | asset_url | stylesheet_tag: preload: true }}

  <script src="{{ 'dbtfy-order-tracking.js' | asset_url }}" defer></script>
  <script src="{{ 'dbtfy-track-order.js' | asset_url }}" defer></script>

  <dbtfy-order-tracking>
    <div class="color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} show-on--{{ section.settings.show_on }} gradient dbtfy-background-pattern-{{ section.id }}">
      <div class="section-{{ section.id }}-padding {{ section.settings.container_size }}">
        <div class="dbtfy-order-tracking__header">
          <h1 class="page-title h0 center{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
            {{ page.title }}
          </h1>
          {% if page.content != blank %}
            <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ page.content }}
            </div>
          {% endif %}
          <dbtfy-order-tracking-form>
            <form action="/" class="dbtfy-order-tracking-form">
              <div class="field">
                <input
                  id="order-tracking-number"
                  type="text"
                  class="field__input"
                  maxlength="50"
                  placeholder="{{ 'widgets.order_tracking.input_placeholder' | t }}"
                >
                <label class="field__label" for="order-tracking-number">
                  {{- 'widgets.order_tracking.input_placeholder' | t -}}
                </label>
              </div>
              <button
                type="submit"
                class="button w-full"
                id="order-tracking-submit"
                aria-label="{{ 'widgets.order_tracking.button_text' | t }}"
              >
                <span class="">
                  {{ 'widgets.order_tracking.button_text' | t }}
                </span>
              </button>
            </form>
          </dbtfy-order-tracking-form>
        </div>

        <div class="dbtfy-order-container">
          <div id="ot-container"></div>
        </div>
      </div>
    </div>
  </dbtfy-order-tracking>
{% endif %}
{% schema %}
{
  "name": "t:sections.dbtfy-order-tracking.name",
  "disabled_on": { "groups": ["aside"] },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-order-tracking.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-order-tracking.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.growth_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.bubble.background_pattern_settings.label"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "curved-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__1"
        },
        {
          "value": "radial-rings",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__2"
        },
        {
          "value": "diamond-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__3"
        },
        {
          "value": "quatrefoils",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__4"
        },
        {
          "value": "hexagons",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__5"
        },
        {
          "value": "intersecting-circles",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__6"
        },
        {
          "value": "brick-wall",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__7"
        },
        {
          "value": "formal-invitation",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__8"
        },
        {
          "value": "jupiter",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__9"
        },
        {
          "value": "yyy",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__10"
        },
        {
          "value": "temple",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__11"
        },
        {
          "value": "lips",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__12"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "t:settings_schema.widgets.color_swatches.option_name.default",
      "default": "#A52A2A",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.settings.size.label",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_bg != 'formal-invitation' }}"
    },
    {
      "type": "range",
      "id": "pattern_size_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.dimension.label",
      "default": 1,
      "visible_if": "{{ section.settings.pattern_bg == 'formal-invitation' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bubble.opacity",
      "default": 50,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-order-tracking.name"
    }
  ]
}
{% endschema %}
