{%- render 'widget-blocker',
  enabled: settings.dbtfy_product_features,
  section: section,
  name: 'Product Features',
  type: '⚡ Paid Sections'
-%}

{%- if request.design_mode or settings.dbtfy_product_features -%}
  {% liquid
    assign grid = ''
    if section.settings.desktop_content_position == 'left' or section.settings.desktop_content_position == 'right'
      assign grid = 'dbtfy-product-features-grid dbtfy-product-features-grid--mobile'
      assign col = 'grid--6-col-desktop grid--6-col-tablet grid--12-col'
    else
      assign grid = 'dbtfy-product-features-grid'
      assign col = 'grid--12-col '
    endif

    assign grid = grid | append: ' dbtfy-product-content-' | append: section.settings.desktop_content_position
    assign grid = grid | append: ' dbtfy-product-content-mobile-' | append: section.settings.mobile_content_position
  %}

  {{ 'dbtfy-product-features.css' | asset_url | stylesheet_tag }}
  {% render 'section-padding', section: section %}

  {%- style -%}
    #dbtfy-features-image-{{ section.id }} .dbtfy-features-image-point-list-item button > span {
      animation: dbtfy-features-image-point-animation-{{ section.id }} 2s infinite;
    }

    #dbtfy-features-image-{{ section.id }}{
      --point-color: {{ section.settings.point_color }};
      --point-diameter: 1rem;
      --border-radius: 50%;
      --hotspot-modal-desktop-width: {{ section.settings.hotspot_modal_desktop_width | divided_by: 10.0 }}rem;
      --hotspot-modal-mobile-width: {{ section.settings.hotspot_modal_mobile_width | divided_by: 10.0 }}rem;

      --bullet-point-color: {{ section.settings.bullet_point_color }};
    }

    {% if section.settings.display_hotspots_animation %}
      @keyframes dbtfy-features-image-point-animation-{{ section.id }} {
            0% { box-shadow: 0 0 0 0px rgba({{ section.settings.point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0.25); }
            100% { box-shadow: 0 0 0 20px rgba({{ section.settings.point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0); }
      }
    {% endif %}
  {%- endstyle -%}
  <dbtfy-product-features>
    <div
      id="dbtfy-features-image-{{ section.id }}"
      class="section-{{ section.id }}-padding dbtfy-product-features show-on--{{ section.settings.show_on }} color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient"
    >
      <div class="{{ section.settings.container_size }}">
        <div
          class="product-features-images-grid d-grid {{ grid }} color-{{ section.settings.custom_container_color_scheme }} dbtfy-color-{{ section.settings.container_color_scheme }} gradient {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          <div class="{{ col }} product-features-image relative {% if section.settings.mobile_image != blank %}product-features-mobile-image{% endif %}">
            {% content_for 'block', type: '_product-features-image', id: 'product-features-image' %}
          </div>

          <div class="{{ col }} product-features-content {% if section.settings.mobile_on_hide %}show-on--desktop-only{% endif %}">
            {% content_for 'block', type: '_title', id: 'title' %}
            {% content_for 'block', type: '_description', id: 'description' %}
            {% content_for 'block', type: '_advance_double_button', id: 'advance_double_button' %}
          </div>
        </div>
      </div>
    </div>
  </dbtfy-product-features>

  <script src="{{ 'floating-ui.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'dbtfy-product-features.js' | asset_url }}" defer="defer"></script>
{% endif %}
{% schema %}
{
  "name": "t:sections.dbtfy-product-features.name",
  "disabled_on": { "groups": ["aside"] },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-product-features.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-product-features.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.enterprise_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "page-full",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "t:sections.dbtfy-product-features.settings.desktop_content_position",
      "default": "right",
      "options": [
        {
          "value": "top",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "right",
          "label": "t:general.settings.alignment.option__6"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        },
        {
          "value": "left",
          "label": "t:general.settings.alignment.option__4"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "mobile_on_hide",
      "label": "t:sections.dbtfy-product-features.settings.mobile_on_hide",
      "default": false
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "label": "Mobile Content Position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-product-features.settings.image_heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.dbtfy-parallax-image.settings.desktop_image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.dbtfy-parallax-image.settings.mobile_image.label",
      "info": "t:sections.dbtfy-product-features.settings.image_note"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-product-features.settings.hostpot_button"
    },
    {
      "type": "color",
      "id": "point_color",
      "label": "t:sections.dbtfy-lookbook.settings.point_color.label",
      "default": "#7559FF"
    },
    {
      "type": "select",
      "id": "open_modal_on",
      "label": "t:sections.dbtfy-product-features.settings.hotspot.Modal",
      "default": "click",
      "options": [
        {
          "value": "click",
          "label": "t:sections.dbtfy-product-features.settings.hotspot.click"
        },
        {
          "value": "hover",
          "label": "t:sections.dbtfy-product-features.settings.hotspot.hover"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_hotspots_animation",
      "label": "t:sections.dbtfy-product-features.settings.hotspot.animation",
      "default": true
    },
    {
      "type": "range",
      "id": "hotspot_modal_desktop_width",
      "min": 200,
      "max": 400,
      "step": 20,
      "unit": "px",
      "label": "t:sections.dbtfy-product-features.settings.hotspot.desktop_width",
      "default": 340
    },
    {
      "type": "range",
      "id": "hotspot_modal_mobile_width",
      "min": 100,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:sections.dbtfy-product-features.settings.hotspot.mobile_width",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-product-features.settings.bullet_points.name"
    },
    {
      "type": "color",
      "id": "bullet_point_color",
      "label": "t:sections.dbtfy-lookbook.settings.point_color.label",
      "default": "#7559FF"
    },
    {
      "type": "range",
      "id": "bullet_point_desktop_width",
      "min": 260,
      "max": 400,
      "step": 20,
      "unit": "px",
      "label": "t:sections.dbtfy-product-features.settings.bullet_points.desktop_width",
      "default": 400
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "small",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 20
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "small",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.container",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "container_color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_container_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.section",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Product Features",
      "blocks": [
        {
          "type": "_product-features-image",
          "static": true,
          "id": "product-features-image",
          "blocks": [
            {
              "type": "_dbtfy-features-image-point"
            },
            {
              "type": "_dbtfy-features-bullet-point"
            }
          ]
        },
        {
          "type": "_title",
          "static": true,
          "id": "title",
          "settings": {
            "title": "Product Features Widget",
            "size": "h2",
            "alignment": "text-center"
          }
        },
        {
          "type": "_description",
          "static": true,
          "id": "description",
          "settings": {
            "description": "<p>Use this section to showcase your product's top features and benefits.</p>",
            "alignment": "text-center"
          }
        },
        {
          "type": "_advance_double_button",
          "static": true,
          "id": "advance_double_button",
          "settings": {
            "button_label_1": "Details",
            "button_label_2": "Add to cart",
            "alignment": "justify-content-center"
          }
        }
      ]
    }
  ]
}
{% endschema %}
