{%- if request.design_mode or settings.dbtfy_countdown_sale -%}
  {%- render 'widget-blocker',
    enabled: settings.dbtfy_countdown_sale,
    section: section,
    name: 'Countdown Sale',
    type: '⚡ Paid Sections'
  -%}

  <link rel="stylesheet" href="{{ 'dbtfy-countdown-sale.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- render 'section-padding', section: section -%}

  {% if section.settings.pattern_bg != 'none' %}
    {% render 'dbtfy-background-pattern', setting: section.settings %}
  {% endif %}

  {% style %}
    @media (max-width:768px){
       #dbtfy-countdown-sale-{{ section.id }} .dbtfy-countdown.expired {
         font-size: calc(var(--font-heading-scale)* {{ settings["h2_font_size"] }}px);
       }
     }

     @media (min-width:768px){
       #dbtfy-countdown-sale-{{ section.id }} .dbtfy-countdown.expired {
         font-size: calc(var(--font-heading-scale)* {{ settings["h2_font_size_mobile"] }}px);
       }
     }
  {% endstyle %}

  <dbtfy-countdown-sale>
    <div
      id="dbtfy-countdown-sale-{{ section.id }}"
      class="dbtfy-countdown-sale color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient dbtfy-background-pattern-{{ section.id }}"
      {{ section.shopify_attributes }}
    >
      <div class="page-width page-width section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="dbtfy-countdown-sale-inner">{% content_for 'blocks' %}</div>
      </div>
    </div>
  </dbtfy-countdown-sale>

  <script src="{{ "dbtfy-countdown-sale.js" | asset_url }}" defer></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.dbtfy-countdown-sale.name",
  "tag": "section",
  "disabled_on": { "groups": ["aside"] },
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-countdown-sale.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-countdown-sale.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.professional_info"
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.bubble.background_pattern_settings.label"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "curved-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__1"
        },
        {
          "value": "radial-rings",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__2"
        },
        {
          "value": "diamond-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__3"
        },
        {
          "value": "quatrefoils",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__4"
        },
        {
          "value": "hexagons",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__5"
        },
        {
          "value": "intersecting-circles",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__6"
        },
        {
          "value": "brick-wall",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__7"
        },
        {
          "value": "formal-invitation",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__8"
        },
        {
          "value": "jupiter",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__9"
        },
        {
          "value": "yyy",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__10"
        },
        {
          "value": "temple",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__11"
        },
        {
          "value": "lips",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__12"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "t:settings_schema.widgets.color_swatches.option_name.default",
      "default": "#A52A2A",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.settings.size.label",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_bg != 'formal-invitation' }}"
    },
    {
      "type": "range",
      "id": "pattern_size_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.dimension.label",
      "default": 1,
      "visible_if": "{{ section.settings.pattern_bg == 'formal-invitation' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bubble.opacity",
      "default": 50,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_cta_block"
    },
    {
      "type": "_countdown-sale-timer"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-countdown-sale.name",
      "blocks": [
        {
          "type": "_cta_block",
          "blocks": [
            {
              "type": "_title",
              "settings": {
                "title": "Countdown Sale",
                "size": "h3"
              }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>Use this section to showcase your offers that require a sense of urgency.</p>"
              }
            },
            {
              "type": "_single_button",
              "settings": {
                "button_label": "Shop Now",
                "button_link": "shopify://collections",
                "button_style": "button button--primary"
              }
            }
          ]
        },
        {
          "type": "_countdown-sale-timer"
        }
      ]
    }
  ]
}
{% endschema %}
