{%- render 'widget-blocker',
  enabled: settings.dbtfy_before_after_image,
  section: section,
  name: 'before-and-after',
  type: '⚡ Paid Sections'
-%}
{%- if request.design_mode or settings.dbtfy_before_after_image -%}
  {%- liquid
    capture slider_parameters
      echo ' data-autoplay="' | append: section.settings.enable_autoplay | append: '"'
      echo ' data-speed="' | append: section.settings.autoplay_speed | append: '"'
      echo ' data-loop="' | append: section.settings.enable_loop | append: '"'
      echo ' data-dots="' | append: section.settings.enable_dots | append: '"'
      echo ' data-arrows="' | append: section.settings.enable_arrows | append: '"'
      echo ' data-controls-position="' | append: section.settings.control_position | append: '"'
    endcapture

    assign slider_on = 'slider slider--everywhere'
    if section.settings.slider_on == 'none'
      assign slider_on = ''
      assign slider_parameters = ''
    elsif section.settings.slider_on != 'both'
      assign slider_on = 'slider slider--' | append: section.settings.slider_on
    endif

    assign arrow_class = ''
    if section.settings.arrow_position == 'middle'
      assign arrow_class = 'slideshow__controls slideshow__controls--top'
    endif

    render 'custom-arrow-style'
  %}
  <style>
    .section-{{ section.id }}-padding .dbtfy-before-after {
      height: {{ section.settings.image_height | times: 0.75 | round: 0 }}px;
    }

    .section-{{ section.id }}-padding .before-after--handle-icon {
      {% if section.settings.enable_background_transparent %}
        background-color: rgba(var(--color-background), 0.15);
        border: 2px solid rgb(var(--color-background));
        backdrop-filter: blur(5px);
      {% else %}
        color: {{ section.settings.handle_color }};
        background-color: {{ section.settings.handle_background_color }};
      {% endif %}
    }

    .section-{{ section.id }}-padding .before-after--handle {
      background-color: {{ section.settings.handle_background_color }};
    }

    .section-{{ section.id }}-padding [data-layout="horizontal"] .before-after--handle-icon {
      top: {{ section.settings.bullet_position }}% !important;
    }

    .section-{{ section.id }}-padding [data-layout="vertical"] .before-after--handle-icon {
      left: {{ section.settings.bullet_position }}% !important;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding .dbtfy-before-after {
        height: {{ section.settings.image_height }}px;
      }
    }
  </style>

  {% render 'section-padding', section: section %}

  {%- if section.settings.pattern_bg != 'none' -%}
    {%- render 'dbtfy-background-pattern', setting: section.settings -%}
  {%- endif -%}

  <link rel="stylesheet" href="{{ 'dbtfy-before-and-after.css' | asset_url }}" media="print" onload="this.media='all'">

  <dbtfy-before-after>
    <div class="color-{{ section.settings.custom_color_scheme }} dbtfy-color-{{ section.settings.color_scheme }} gradient show-on--{{ section.settings.show_on }} dbtfy-background-pattern-{{ section.id }}">
      <div class="section-{{ section.id }}-padding {{ section.settings.container_size }}">
        <div class="dbtfy-before-and-after__header {% if section.settings.text_alignment == 'center' %}page-width--narrow{% endif %} {{ section.settings.text_alignment }}">
          {% content_for 'block', type: '_heading', id: 'heading' %}
        </div>

        <dbtfy-slider-component
          {{ slider_parameters }}
        >
          <ul
            class="width-auto-adjusted contains-content-container grid grid--1-col {{slider_on}}"
            id="Slider-{{ section.id }}"
            role="list"
            style="overflow: hidden;"
          >
            {% content_for 'block', type: '_dbtfy-before-after', id: 'before-after' %}
          </ul>
          {% render 'dbtfy-arrow', class: arrow_class %}
        </dbtfy-slider-component>
      </div>
    </div>
  </dbtfy-before-after>

  <script src="{{ 'dbtfy-before-and-after.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.dbtfy-before-and-after.name",
  "disabled_on": { "groups": ["aside"] },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-before-and-after.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-before-and-after.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.professional_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "Show on",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ],
      "default": "both"
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:sections.all.container_size.label",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:general.settings.style.default"
        },
        {
          "value": "",
          "label": "t:sections.all.container_size.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.bubble.background_pattern_settings.label"
    },
    {
      "type": "select",
      "id": "pattern_bg",
      "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.pattern",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "curved-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__1"
        },
        {
          "value": "radial-rings",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__2"
        },
        {
          "value": "diamond-grid",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__3"
        },
        {
          "value": "quatrefoils",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__4"
        },
        {
          "value": "hexagons",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__5"
        },
        {
          "value": "intersecting-circles",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__6"
        },
        {
          "value": "brick-wall",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__7"
        },
        {
          "value": "formal-invitation",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__8"
        },
        {
          "value": "jupiter",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__9"
        },
        {
          "value": "yyy",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__10"
        },
        {
          "value": "temple",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__11"
        },
        {
          "value": "lips",
          "label": "t:settings_schema.global.settings.bubble.background_pattern_settings.option__12"
        }
      ]
    },
    {
      "type": "color",
      "id": "pattern_color",
      "label": "t:settings_schema.widgets.color_swatches.option_name.default",
      "default": "#A52A2A",
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "range",
      "id": "pattern_size",
      "min": 4,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:general.settings.size.label",
      "default": 20,
      "visible_if": "{{ section.settings.pattern_bg != 'none' and section.settings.pattern_bg != 'formal-invitation' }}"
    },
    {
      "type": "range",
      "id": "pattern_size_thickness",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:settings_schema.global.settings.dimension.label",
      "default": 1,
      "visible_if": "{{ section.settings.pattern_bg == 'formal-invitation' or section.settings.pattern_bg == 'radial-rings' }}"
    },
    {
      "type": "range",
      "id": "pattern_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:settings_schema.global.settings.bubble.opacity",
      "default": 50,
      "visible_if": "{{ section.settings.pattern_bg != 'none' }}"
    },
    {
      "type": "header",
      "content": "t:blocks.scrollbar_cursor.settings.cursor.label"
    },
    {
      "type": "select",
      "id": "initial_direction",
      "label": "t:sections.dbtfy-before-and-after.settings.initial_direction.label",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "t:general.settings.alignment.option__10"
        },
        {
          "value": "vertical",
          "label": "t:general.settings.alignment.option__11"
        }
      ]
    },
    {
      "type": "range",
      "id": "initial_position",
      "label": "t:sections.dbtfy-before-and-after.settings.initial_position.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "t:sections.dbtfy-before-and-after.settings.image_height.label",
      "default": 500,
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-before-and-after.settings.header__2.content"
    },
    {
      "type": "text",
      "id": "bullet_icon",
      "label": "t:general.settings.icon_label",
      "default": "code",
      "info": "t:sections.all.icon.info"
    },
    {
      "type": "color",
      "label": "t:sections.dbtfy-before-and-after.settings.handle_color.label",
      "id": "handle_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "t:sections.dbtfy-before-and-after.settings.handle_background_color.label",
      "id": "handle_background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "enable_background_transparent",
      "label": "t:sections.dbtfy-before-and-after.settings.background_transparent",
      "default": false
    },
    {
      "type": "select",
      "id": "bullet_position",
      "label": "t:settings_schema.wish_list.settings.icon_position_product_page.options.label",
      "default": "50",
      "options": [
        {
          "value": "25",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "50",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "75",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.slider.slider_settings"
    },
    {
      "type": "select",
      "id": "slider_on",
      "default": "both",
      "label": "t:general.settings.slider.Enable_slider",
      "options": [
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        },
        {
          "value": "desktop",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "default": false,
      "label": "t:general.settings.slider.enable_autoplay"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "t:general.settings.slider.autoplay_speed",
      "default": 5,
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "default": true,
      "label": "Loop",
      "info": "Continue from the last slide to the first slide"
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "default": true,
      "label": "t:general.settings.slider.show_dots"
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "default": false,
      "label": "t:general.settings.slider.show_arrows"
    },
    {
      "type": "select",
      "id": "arrow_color",
      "default": "inherit",
      "label": "t:general.settings.slider.arrow_color",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "color",
      "id": "custom_arrow_color",
      "label": "t:general.settings.slider.custom-arrow-color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "custom_arrow_background_color",
      "label": "t:general.settings.slider.custom-arrow-bg-color",
      "default": "#7559ff"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "default": "bottom",
      "label": "t:sections.dbtfy-before-and-after.settings.arrow_position.label",
      "options": [
        {
          "value": "middle",
          "label": "t:general.settings.alignment.option__2"
        },
        {
          "value": "bottom",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "select",
      "id": "control_position",
      "default": "inside",
      "label": "Control Position",
      "options": [
        {
          "value": "outside",
          "label": "Outside"
        },
        {
          "value": "inside",
          "label": "Inside"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-before-and-after.name",
      "blocks": [
        {
          "type": "_heading",
          "static": true,
          "id": "heading",
          "blocks": [
            { "type": "_title", "settings": { "title": "See the Transformation" } },
            {
              "type": "_subtitle",
              "settings": { "title": "Experience the remarkable transformations our products deliver." }
            },
            {
              "type": "_description",
              "settings": {
                "description": "<p>From dull and dry to smooth and youthful. Achieve similar (or better) results with regular use of our products.</p>"
              }
            }
          ]
        },
        {
          "type": "_dbtfy-before-after",
          "static": true,
          "id": "before-after",
          "blocks": [
            { "type": "_dbtfy-before-after-block", "settings": {} },
            { "type": "_dbtfy-before-after-block", "settings": {} },
            { "type": "_dbtfy-before-after-block", "settings": {} }
          ],
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
