{%- render 'widget-blocker',
  enabled: settings.dbtfy_page_color_changer,
  section: section,
  name: 'Page Color Changer',
  type: '💎 Professional section'
-%}

{%- if settings.dbtfy_page_color_changer -%}
  {%- if settings.dbtfy_page_color_changer
    or section.settings.dbtfy_color_scheme
    or section.settings.dbtfy_custom_color_scheme
  -%}
    <div class="page_color_changer">
      {% if section.settings.dbtfy_custom_color_scheme %}
        <style>
            {%- liquid
              assign background = section.settings.background
              assign background_gradient = section.settings.background_gradient
              if background_gradient == 'rgba(0,0,0,0)'
                assign background_gradient = ''
              endif
              assign text = section.settings.text
              assign button = section.settings.button
              assign button_label = section.settings.button_label
              assign secondary_button_label = section.settings.secondary_button_label
              assign shadow = section.settings.shadow
            -%}

            {% capture schema %}
              {% for scheme in settings.color_schemes offset: 4 %}
                .dbtfy-color-custom.color-{{ scheme.id }}{% unless forloop.last %},{% endunless %}
              {% endfor %}
            {% endcapture %}

          :root,.dbtfy-color-custom.color-scheme-1,.dbtfy-color-custom.color-scheme-2,.dbtfy-color-custom.color-scheme-3,.dbtfy-color-custom.color-scheme-4,{{schema | strip}}{--color-background: {{ background.red }}, {{ background.green }},{{ background.blue }};
          {%- if background_gradient != empty -%} --gradient-background: {{ background_gradient }};
          {%- else -%} --gradient-background: {{ background }};
          {%- endif -%}{%- liquid
            assign background_color = background
            assign background_color_brightness = background_color | color_brightness
            if background_color_brightness <= 26
          	assign background_color_contrast = background_color | color_lighten: 50
            elsif background_color_brightness <= 65
          	assign background_color_contrast = background_color | color_lighten: 5
            else
          	assign background_color_contrast = background_color | color_darken: 25
            endif
          -%} --color-foreground: {{ text.red }}, {{ text.green }},{{ text.blue }}; --color-background-contrast: {{ background_color_contrast.red }}, {{ background_color_contrast.green }},{{ background_color_contrast.blue }}; --color-shadow: {{ shadow.red }}, {{ shadow.green }},{{ shadow.blue }}; --color-button: {{ button.red }}, {{ button.green }},{{ button.blue }}; --color-button-text: {{ button_label.red }}, {{ button_label.green }},{{ button_label.blue }}; --color-secondary-button: {{ background.red }}, {{ background.green }},{{ background.blue }}; --color-secondary-button-text: {{ secondary_button_label.red }}, {{ secondary_button_label.green }},{{ secondary_button_label.blue }}; --color-link: {{ secondary_button_label.red }}, {{ secondary_button_label.green }},{{ secondary_button_label.blue }}; --color-badge-foreground: {{ text.red }}, {{ text.green }},{{ text.blue }}; --color-badge-background: {{ background.red }}, {{ background.green }},{{ background.blue }}; --color-badge-border: {{ text.red }}, {{ text.green }},{{ text.blue }}; --payment-terms-background-color: rgb({{ background.rgb }});
          {%- liquid
            assign background_color = button
            assign background_color_brightness = background_color | color_brightness
            if background_color_brightness <= 30
          	assign background_color_contrast = background_color | color_lighten: 10
            elsif background_color_brightness <= 60
          	assign background_color_contrast = background_color | color_lighten: 5
            else
          	assign background_color_contrast = background_color | color_darken: 5
            endif
          -%} --color-button-hover: {{ background_color_contrast }}; --color-button-hover--brightness: {{ background_color_brightness }}; }`
        </style>
      {% endif %}
      {% if section.settings.dbtfy_color_scheme %}
        {% style %}
          {%- assign primary_color = section.settings.primary_color -%}
          {%- assign inverse_light_and_dark_for_primary_color = section.settings.inverse_light_and_dark_for_primary_color -%}
          {%- assign secondary_color = section.settings.secondary_color -%}
          {%- assign inverse_light_and_dark_for_secondary_color = section.settings.inverse_light_and_dark_for_secondary_color -%}
          {%- assign dark_color = section.settings.dark_color -%}
          {%- assign light_color = section.settings.light_color -%}
          {%- assign light_primary_color = primary_color -%}
          {%- if inverse_light_and_dark_for_primary_color -%}
            {%- assign light_primary_color = dark_color -%}
          {%- endif -%}
          {%- render 'single-color-scheme',
            id: 1,
            name: 'Light Scheme',
            background: light_color,
            background_gradient: empty,
            text: dark_color,
            button: light_primary_color,
            button_label: light_color,
            secondary_button_label: light_primary_color,
            shadow: light_primary_color
          %}
          {%- assign primary_light_color = light_color -%}
          {%- assign primary_dark_color = dark_color -%}
          {%- if inverse_light_and_dark_for_primary_color -%}
            {%- assign primary_light_color = dark_color -%}
            {%- assign primary_dark_color = light_color -%}
          {%- endif -%}
          {%- render 'single-color-scheme',
            id: 2,
            name: 'Primary Scheme',
            background: primary_color,
            background_gradient: empty,
            text: primary_light_color,
            button: primary_light_color,
            button_label: primary_color,
            secondary_button_label: primary_light_color,
            shadow: primary_dark_color
          -%}
          {%- assign secondary_light_color = light_color -%}
          {%- assign secondary_dark_color = dark_color -%}
          {%- if inverse_light_and_dark_for_secondary_color -%}
            {%- assign secondary_light_color = dark_color -%}
            {%- assign secondary_dark_color = light_color -%}
          {%- endif -%}
          {%- render 'single-color-scheme',
            id: 3,
            name: 'Secondary Scheme',
            background: secondary_color,
            background_gradient: empty,
            text: secondary_light_color,
            button: secondary_light_color,
            button_label: secondary_color,
            secondary_button_label: secondary_light_color,
            shadow: secondary_dark_color
          %}
          {%- assign dark_primary_color = primary_color -%}
          {%- if inverse_light_and_dark_for_primary_color -%}
            {%- assign dark_primary_color = dark_color -%}
          {%- endif -%}
          {%- render 'single-color-scheme',
            id: 4,
            name: 'Dark Scheme',
            background: dark_color,
            background_gradient: empty,
            text: light_color,
            button: light_color,
            button_label: dark_primary_color,
            secondary_button_label: light_color,
            shadow: dark_color
          %}
        {% endstyle %}
      {% endif %}
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.page-color-changer.name",
  "disabled_on": { "groups": ["aside"] },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.page-color-changer.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.page-color-changer.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.page-color-changer.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.professional_info"
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.important"
    },
    {
      "type": "header",
      "content": "Custom Color Schemes"
    },
    {
      "type": "checkbox",
      "id": "dbtfy_color_scheme",
      "label": "Enable Color Schemes",
      "default": true
    },
    {
      "type": "color",
      "id": "light_color",
      "label": "Light",
      "default": "#EEEAFF",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "dark_color",
      "label": "Dark",
      "default": "#000000",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "header",
      "content": "Primary color",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary",
      "default": "#7559ff",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "checkbox",
      "id": "inverse_light_and_dark_for_primary_color",
      "label": "Inverse light and dark",
      "info": "If your primary color is light in nature then check this box",
      "default": false,
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "header",
      "content": "Secondary color",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "secondary_color",
      "label": "Secondary",
      "default": "#9B046F",
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "checkbox",
      "id": "inverse_light_and_dark_for_secondary_color",
      "label": "Inverse light and dark",
      "info": "If your secondary color is light in nature then check this box",
      "default": false,
      "visible_if": "{{ section.settings.dbtfy_color_scheme == true }}"
    },
    {
      "type": "header",
      "content": "Color Schemes"
    },
    {
      "type": "paragraph",
      "content": "t:sections.page-color-changer.notice"
    },
    {
      "type": "checkbox",
      "id": "dbtfy_custom_color_scheme",
      "label": "Enable Color Schemes",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "t:settings_schema.global.settings.bubble.background_color.label",
      "default": "#ffffff",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "background_gradient",
      "label": "t:settings_schema.colors.settings.background_gradient.label",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "text",
      "label": "t:general.settings.text",
      "default": "#262626",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "button",
      "label": "t:sections.page-color-changer.settigns.background.button",
      "default": "#1c2228",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "button_label",
      "label": "t:sections.page-color-changer.settigns.background.button_label",
      "default": "#ffffff",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "secondary_button_label",
      "label": "t:sections.page-color-changer.settigns.background.secondary_button_label",
      "default": "#797572",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    },
    {
      "type": "color",
      "id": "shadow",
      "label": "t:settings_schema.global.settings.shadow",
      "default": "#001128",
      "visible_if": "{{ section.settings.dbtfy_custom_color_scheme == true }}"
    }
  ],
  "limit": 1,
  "presets": [
    {
      "name": "t:sections.page-color-changer.name"
    }
  ]
}
{% endschema %}
