{%- render 'widget-blocker',
  enabled: settings.dbtfy_comparison_table,
  name: 'Comparison Table',
  type: '👑 Enterprise Sections'
-%}

{% style %}
  .shop_logo_image {
    width: {{ block.settings.logo_size }}px;
  }

  @media (max-width: 575px) {
    .shop_logo_image {
      width: {{ block.settings.logo_size_mobile }}px;
    }
  }
{% endstyle %}
{% if request.design_mode or settings.dbtfy_comparison_table %}
  {{ 'dbtfy-comparison-table.css' | asset_url | stylesheet_tag }}
  {% render 'block-padding', block: block %}

  <dbtfy-comparison-table
    id="comparison-table-{{ block.id }}"
    class="h-full {% if block.settings.vertical_center %}flex flex-column justify-content-center{% endif %}"
  >
    {% liquid
      assign container_size = block.settings.container_size

      assign shop_logo = block.settings.shop_logo
      assign title_size = block.settings.title_size
      assign shop_title = block.settings.shop_title

      assign competitor_logo = block.settings.competitor_logo
      assign competitor_title = block.settings.competitor_title

      assign desktop_table_placement = block.settings.desktop_table_placement
      assign mobile_table_placement = block.settings.mobile_table_placement
      assign table_style = block.settings.table_style
    %}

    <div
      id="{{ block.id }}"
      class=" dbtfy-comparison-table block-{{ block.id }}-padding show-on--{{ block.settings.show_on}}"
    >
      <div class="{{ container_size }}">
        <div class="dbtfy-comparison-table grid grid--2-col {% if desktop_table_placement == 'left' %} dbtfy-comparison-table__grid--reverse{% endif %} {% if mobile_table_placement == 'bottom' %} dbtfy-comparison-table__grid--mobile {% endif %} {% if mobile_table_placement == 'top' %} dbtfy-comparison-table__grid--reverse-mobile {% endif %}">
          <div class="dbtfy-comparison-table-table">
            <table
              class="table-style-{{ table_style }}"
            >
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <td>
                    {% if shop_logo != blank %}
                      {{ shop_logo | image_url: width: 2000 | image_tag: class: 'shop_logo_image' }}
                    {% elsif shop_title != blank %}
                      <h3 class="m-0 shop-title {{ title_size }}">
                        {{ shop_title }}
                      </h3>
                    {% endif %}
                  </td>
                  <td>
                    {% if competitor_logo != blank %}
                      {{ competitor_logo | image_url: width: 2000 | image_tag: class: 'shop_logo_image' }}
                    {% elsif competitor_title != blank %}
                      <h3 class="m-0 competitor-title {{ title_size }}">
                        {{ competitor_title }}
                      </h3>
                    {% endif %}
                  </td>
                </tr>
              </thead>
              <tbody>
                {% content_for 'block', type: '_dbtfy-comparision-tables', id: 'dbtfy-comparision-tables' %}
                <tr>
                  <th>
                    <td></td>
                    <td></td>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </dbtfy-comparison-table>
{% endif %}

{% schema %}
{
  "name": "t:sections.comparison-table.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.comparison-table.settings.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.comparison-table.settings.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.enterprise_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ],
      "default": "both"
    },
    {
      "type": "checkbox",
      "id": "vertical_center",
      "default": false,
      "label": "t:general.settings.center_title"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_4"
    },
    {
      "type": "select",
      "id": "table_style",
      "label": "t:sections.comparison-table.settings.table_style",
      "default": "classic",
      "options": [
        {
          "value": "classic",
          "label": "t:sections.comparison-table.settings.table_style_option.option_1.label"
        },
        {
          "value": "centered",
          "label": "t:sections.comparison-table.settings.table_style_option.option_2.label"
        },
        {
          "value": "minimalistic",
          "label": "t:sections.comparison-table.settings.table_style_option.option_3.label"
        },
        {
          "value": "leftred",
          "label": "Leftred"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_2"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.comparison-table.settings.shop_title_size"
    },
    {
      "type": "range",
      "id": "logo_size",
      "label": "logo size",
      "min": 30,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "logo_size_mobile",
      "label": "Mobile logo size",
      "min": 30,
      "max": 60,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "image_picker",
      "id": "shop_logo",
      "label": "t:sections.comparison-table.settings.shop_logo"
    },
    {
      "type": "text",
      "id": "shop_title",
      "label": "t:sections.comparison-table.settings.shop_title",
      "default": "Our Shop",
      "info": "t:sections.comparison-table.settings.info"
    },
    {
      "type": "header",
      "content": "t:sections.comparison-table.settings.content_3"
    },
    {
      "type": "image_picker",
      "id": "competitor_logo",
      "label": "t:sections.comparison-table.settings.competitor_logo"
    },
    {
      "type": "text",
      "id": "competitor_title",
      "label": "t:sections.comparison-table.settings.competitor_title",
      "default": "Competitior",
      "info": "t:sections.comparison-table.settings.info"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.settings.spacing.section_desktop.label"
    },
    {
      "type": "select",
      "id": "padding___top",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.top",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_top",
      "default": 36
    },
    {
      "type": "select",
      "id": "padding___bottom",
      "label": "t:settings_schema.layout.settings.spacing.block_padding.bottom",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "t:general.settings.size.option__1"
        },
        {
          "value": "none",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "small",
          "label": "t:general.settings.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.animation.image_behavior.parallax_speed.medium"
        },
        {
          "value": "large",
          "label": "t:sections.image_banner.settings.section_height_mobile.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding_section.custom_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Comparison Table",
      "blocks": [
        {
          "type": "_dbtfy-comparision-tables",
          "static": true,
          "id": "dbtfy-comparision-tables",
          "blocks": [
            { "type": "_dbtfy-comparision-table" },
            { "type": "_dbtfy-comparision-table" },
            { "type": "_dbtfy-comparision-table" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
