{%- liquid
  assign product = block.settings.product
  if block.settings.title != blank
    assign title = block.settings.title
  else
    assign title = product.title
  endif

  if block.settings.featured_image != blank
    assign image = block.settings.featured_image
  else
    assign image = product.featured_image
  endif

  assign show_price = block.settings.show_product_price
  assign show_compare_at_price = block.settings.show_discounted_with_original_price

  assign product_is_in_cart = cart.items | where: 'product_id', product.id
  assign product_is_in_cart__ = cart.items | find: 'product_id', product.id

  assign productInCart = ''

  if product_is_in_cart.size > 0
    assign productInCart = 'checked'
  endif
-%}

{%- if product != blank and settings.dbtfy_conditional_gift -%}
  {%- render 'widget-settings', key: 'dbtfy-conditional-gift', settings: block.settings -%}
  <link rel="stylesheet" href="{{ 'dbtfy-conditional-gift.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- liquid
    assign cart_total = cart.original_total_price | money_without_currency | remove: ',' | plus: 0
    assign unlock_requirement = block.settings.unlock_requirement | plus: 0
    if unlock_requirement > cart_total
      assign amount = unlock_requirement | minus: cart_total | plus: 0
      assign unlock = false
    else
      assign unlock = true
    endif

    assign product_description = false

    if unlock
      if block.settings.unlock_product_description != blank
        assign product_description = true
      endif
    elsif block.settings.product_description != blank
      assign product_description = true
    endif

    assign cart_total = cart.original_total_price | money_without_currency | remove: ',' | plus: 0
    assign unlock_requirement = block.settings.unlock_requirement | plus: 0

    if product_is_in_cart.size > 0
      assign productPrice = product.first_available_variant.price | money_without_currency | remove: ',' | plus: 0
      assign cartTotal = cart_total | minus: productPrice
    endif

    if unlock_requirement > cartTotal
      assign removeProduct = true
    else
      assign removeProduct = false
    endif
  -%}
  <dbtfy-conditional-gift
    {% if block.settings.show_variant_picker == false %}
      data-id="{{ product.first_available_variant.id }}"
    {% endif %}
    {% if removeProduct %}
      data-remove-product="{{ removeProduct }}"
    {% endif %}
  >
    <div class="dbtfy-conditional-gift">
      <div class="dbtfy-conditional-gift__content">
        {% if productInCart == 'checked' %}
          <span class="w-100 dbtfy-conditional-gift__cart-total">
            {{ 'widgets.conditional_gift.congratulation_text' | t: title: title }}
          </span>
        {% else %}
          <span class="w-100 text-{{ block.settings.text_alignment }} dbtfy-conditional-gift__cart-total">
            {% if unlock == false %}
              {% assign amount = unlock_requirement | minus: cart_total | plus: 0 | times: 100 | money_with_currency %}
              {% assign amount_string = '{amount}' %}
              {{ block.settings.progress_text | replace: amount_string, amount }}
            {% else %}
              {{ block.settings.unlocked_text }}
            {% endif %}
          </span>
        {% endif %}
        <div class="dbtfy-conditional-gift__content_wrapper">
          <div class="dbtfy-conditional-gift__content-inner">
            {% if block.settings.hide_product_featured_image == false %}
              <div class="dbtfy-conditional-gift__image-container relative global">
                {% if block.settings.display_lock_over_image_while_product_is_locked and unlock == false %}
                  <div class="image_lock">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path d="M6.5 15.3867H6H6.5ZM6.5 22.5H7H6.5ZM22.5 25.5V25V25.5ZM9.5 25.5V26V25.5ZM25.5 15.3868H25H25.5ZM25.5 22.5H26H25.5ZM22.5 12.3868V11.8868V12.3868ZM9.5 12.3867L9.5 12.8867L9.5 12.3867ZM15.5 20.1004C15.5 20.3766 15.7239 20.6004 16 20.6004C16.2761 20.6004 16.5 20.3766 16.5 20.1004H15.5ZM16.5 17.015C16.5 16.7388 16.2761 16.515 16 16.515C15.7239 16.515 15.5 16.7388 15.5 17.015H16.5ZM6 15.3867L6 22.5H7L7 15.3867H6ZM22.5 25H9.5V26H22.5V25ZM25 15.3868V22.5H26V15.3868H25ZM22.5 11.8868L9.50001 11.8867L9.5 12.8867L22.5 12.8868V11.8868ZM26 15.3868C26 13.4538 24.433 11.8868 22.5 11.8868V12.8868C23.8807 12.8868 25 14.006 25 15.3868H26ZM7 15.3867C7 14.006 8.11929 12.8867 9.5 12.8867L9.50001 11.8867C7.56701 11.8867 6 13.4537 6 15.3867H7ZM6 22.5C6 24.433 7.567 26 9.5 26V25C8.11929 25 7 23.8807 7 22.5H6ZM22.5 26C24.433 26 26 24.433 26 22.5H25C25 23.8807 23.8807 25 22.5 25V26ZM10.6538 12.6709C10.6538 9.51315 13.0725 7 16 7V6C12.47 6 9.65384 9.0125 9.65384 12.6709H10.6538ZM16 7C18.9275 7 21.3462 9.51315 21.3462 12.6709H22.3462C22.3462 9.0125 19.53 6 16 6V7ZM16.5 20.1004L16.5 17.015H15.5L15.5 20.1004H16.5Z" fill="#7559FF"/>
                    </svg>
                  </div>
                {% endif %}
                <img src="{{ image | img_url: '300x300' }}" alt="{{ image.alt }}" class="dbtfy-conditional-gift__image">
              </div>
            {% endif %}
            <div class="dbtfy-conditional-gift__details">
              <div class="dbtfy-conditional-gift__title">
                <h4 class="dbtfy-conditional-gift__title-text">{{ title }}</h4>
                {% if show_price != blank or block.settings.price_content != blank %}
                  <div class="dbtfy-conditional-gift__price">
                    {% if show_price %}
                      {% render 'price', product: product, show_compare_at_price: show_compare_at_price %}
                    {% else %}
                      {{ block.settings.price_content }}
                    {% endif %}
                  </div>
                {% endif %}
                {% if product_description %}
                  <div class="dbtfy-conditional-gift__description rte">
                    {% if unlock %}
                      {{ block.settings.unlock_product_description }}
                    {% else %}
                      {{ block.settings.product_description }}
                    {% endif %}
                  </div>
                {% endif %}

                <div class="w-full">
                  <div class="custom_quantity__input_default {% if block.settings.show_variant_picker == false %}hidden{% endif %}">
                    <div class="custom_varaint_box">
                      {% if product.has_only_default_variant %}
                        <input
                          type="hidden"
                          name="id[]"
                          value="{{ product.first_available_variant.id }}"
                          {% unless product.first_available_variant.available %}
                            disabled
                          {% endunless %}
                        >
                      {% else %}
                        <input class="custom_quantity__input hidden" value="1">
                        {% render 'variant-dropdown',
                          product: product,
                          item: product,
                          add_to_cart: 'false',
                          variant: product_is_in_cart__
                        %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dbtfy-conditional-gift__switch">
            <label class="switch">
              <input
                type="checkbox"
                {{ productInCart }}
                {% if unlock == false %}
                  disabled
                {% endif %}
              >
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </dbtfy-conditional-gift>
  <script src="{{ 'dbtfy-conditional-gift.js' | asset_url }}" defer></script>
{%- endif -%}
{%- schema -%}
{
  "name": "t:sections.dbtfy-free-conditional-gift.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-free-conditional-gift.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-free-conditional-gift.help.link"
    },
    {
      "type": "paragraph",
      "content": "t:help.enterprise_info"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-free-conditional-gift.settigns.note.important"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-free-conditional-gift.settigns.note.info_1"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-free-conditional-gift.settigns.note.info_2"
    },
    {
      "type": "paragraph",
      "content": "t:sections.dbtfy-free-conditional-gift.settigns.note.info_3"
    },
    {
      "type": "text",
      "label": "t:general.settings.block-name.label",
      "id": "heading",
      "info": "t:general.settings.block-name.info",
      "default": "t:sections.dbtfy-free-conditional-gift.name"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "hide_product_featured_image",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.hide_product_featured_image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "t:sections.main-article.blocks.featured_image.name",
      "info": "t:sections.dbtfy-free-conditional-gift.settigns.featured_image",
      "visible_if": "{{ block.settings.hide_product_featured_image == false }}"
    },
    {
      "type": "inline_richtext",
      "id": "product_description",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.product_description_label",
      "default": "t:sections.dbtfy-free-conditional-gift.settigns.product_description_default"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-free-conditional-gift.settigns.unlocking"
    },
    {
      "type": "number",
      "id": "unlock_requirement",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.unlock_requirement_label",
      "info": "t:sections.dbtfy-free-conditional-gift.settigns.unlock_requirement_default",
      "default": 0
    },
    {
      "type": "text",
      "id": "progress_text",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.progress_text_label",
      "default": "t:sections.dbtfy-free-conditional-gift.settigns.progress_text_default",
      "info": "t:sections.dbtfy-free-conditional-gift.settigns.progress_text_info"
    },
    {
      "type": "inline_richtext",
      "id": "unlock_product_description",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.product_description_unlock_label",
      "default": "t:sections.dbtfy-free-conditional-gift.settigns.product_description_default"
    },
    {
      "type": "inline_richtext",
      "id": "unlocked_text",
      "label": "Unlocked text",
      "default": "t:sections.dbtfy-free-conditional-gift.settigns.unlocked_text_default",
      "info": "t:sections.dbtfy-free-conditional-gift.settigns.unlocked_text_info"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:general.settings.alignment.text_alignment",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "display_lock_over_image_while_product_is_locked",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.product_lock_image",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main-product.blocks.price.name"
    },
    {
      "type": "checkbox",
      "id": "show_product_price",
      "label": "t:settings_schema.search_input.settings.predictive_search_show_price.label",
      "default": false
    },
    {
      "type": "text",
      "id": "price_content",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.price_content_label",
      "default": "t:sections.dbtfy-free-conditional-gift.settigns.price_content_default",
      "info": "t:sections.dbtfy-free-conditional-gift.settigns.price_content_info",
      "visible_if": "{{ block.settings.show_product_price == false }}"
    },
    {
      "type": "checkbox",
      "id": "show_discounted_with_original_price",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.discount_original_price",
      "default": true,
      "visible_if": "{{ block.settings.show_product_price == true }}"
    },
    {
      "type": "checkbox",
      "id": "show_variant_picker",
      "label": "t:sections.dbtfy-free-conditional-gift.settigns.variant_picker",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Free/Conditional Gift"
    }
  ]
}
{%- endschema -%}
