{% liquid
  assign desktop_col_width = block.settings.desktop_col_width
  assign tablet_col_width = block.settings.tablet_col_width
  assign mobile_col_width = block.settings.mobile_col_width
%}
<style>
  .block-{{ block.id }} {
    gap: {{ block.settings.gap }}px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: var(--dbtfy-column-vertical);
    {% if block.settings.padding == "custom" %}
    --padding-vertical: {{ block.settings.custom_padding_vertical }}px;
    --padding-horizontal: {{ block.settings.custom_padding_horizontal }}px;
    {% else %}
    --padding-vertical: 0.3rem;
    --padding-horizontal: 0.3rem;
    {% endif %}
  }

  {% if block.settings.sticky_column %}
    @media screen and (min-width: 990px) {
      .block-{{ block.id }} {
        position: sticky !important;
        top: calc(var(--dbtfy-header-height, 0px) + {{ block.settings.sticky_top_offset }}px) !important;
        z-index: 10 !important;
        align-self: flex-start !important;
      }
    }
  {% endif %}
</style>
<div
  class="
      block-{{ block.id }}
      section-custom-column show-on--{{ block.settings.show_on }}
    color-{{ block.settings.custom_color_scheme }}
    dbtfy-color-{{ block.settings.color_scheme }}
    gradient
    grid--{{ desktop_col_width }}-col-desktop
    grid--{{ tablet_col_width }}-col-tablet
    grid--{{ mobile_col_width }}-col
    dbtfy-column
     {{ block.settings.text_alignment }}
    {% unless block.settings.sticky_column %}h-full{% endunless %}
    {{ block.settings.vertical_alignment }}
  "
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:general.settings.column",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "show_on",
      "label": "t:sections.all.show_on.label",
      "default": "both",
      "options": [
        {
          "value": "desktop-only",
          "label": "t:sections.all.show_on.options__1.label"
        },
        {
          "value": "mobile-only",
          "label": "t:sections.all.show_on.options__2.label"
        },
        {
          "value": "both",
          "label": "t:sections.all.show_on.options__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_col_width",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.custom-code.blocks.settings.desktop_col_width.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "tablet_col_width",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.custom-code.blocks.settings.tablet_col_width.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "mobile_col_width",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "t:sections.custom-code.blocks.settings.mobile_col_width.label",
      "default": 12
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 40,
      "step": 5,
      "label": "t:sections.custom-column.label.gap",
      "unit": "px",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "sticky_column",
      "label": "t:sections.custom-column.label.sticky_column",
      "default": false
    },
    {
      "type": "range",
      "id": "sticky_top_offset",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.custom-column.label.sticky_top_offset",
      "default": 0,
      "visible_if": "{{block.settings.sticky_column == true }}"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:sections.custom-column.label.vertical_alignment",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "align-content-flex-start",
          "label": "t:general.settings.alignment.option__1"
        },
        {
          "value": "align-content-center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "align-content-flex-end",
          "label": "t:general.settings.alignment.option__3"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.custom-column.label.text_alignment",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "t:settings_schema.global_settings.settings.add-to-cart-animation-effect.options__1"
        },
        {
          "value": "text-left",
          "label": "t:general.settings.alignment.option__4"
        },
        {
          "value": "text-center",
          "label": "t:general.settings.alignment.option__5"
        },
        {
          "value": "text-right",
          "label": "t:general.settings.alignment.option__6"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding",
      "label": "t:sections.all.padding_section.padding",
      "default": "inherit",
      "options": [
        {
          "label": "t:general.settings.size.option__1",
          "value": "inherit"
        },
        {
          "label": "t:general.settings.size.option__9",
          "value": "custom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding_section.block_padding"
    },

    {
      "type": "range",
      "id": "custom_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.layout.settings.horizontal_padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "custom_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.layout.settings.vertical_padding",
      "default": 36
    }
  ],
  "blocks": [
    { "type": "_row" },
    { "type": "_title" },
    { "type": "_caption" },
    { "type": "_description" },
    { "type": "_icon" },
    { "type": "_image" },
    { "type": "_subtitle" },
    { "type": "_double_button" },
    { "type": "_single_button" },
    { "type": "_cc-icon_with_text" },
    { "type": "_cc-icon_with_image" },
    { "type": "_cc-faq" },
    { "type": "_cc-video" },
    { "type": "_product_row" },
    { "type": "_cc-product-media" },
    { "type": "_cc-trustpilot" },
    { "type": "_cc-ugc-carousel" },
    { "type": "_product_social-discount" },
    { "type": "_cc_product_title" },
    { "type": "_cc_product_bullet-points" },
    { "type": "_cc_product-size-chart" },
    { "type": "_cc_product_rating" },
    { "type": "_star_rating" },
    { "type": "_cc_product_price" },
    { "type": "_cc_product_variant-picker" },
    { "type": "_cc_product_quantity-selector" },
    { "type": "_cc_product_share" },
    { "type": "_cc_product-complementary" },
    { "type": "_cc_product_buy-buttons" },
    { "type": "_trust_badges" },
    { "type": "_cc_product_description" },
    { "type": "_cc_product_sku" },
    { "type": "_cc_product_tabs" },
    { "type": "_cc_product-customizable-product" },
    { "type": "_cc_product-upsell" },
    { "type": "_cc_product-quantity-break" },
    { "type": "_product_popup" },
    { "type": "_cc_dbtfy-instagram-story" },
    { "type": "_cc_dbtfy-vertical-ticker" },
    { "type": "_product_customizable-products" },
    { "type": "_footer-newsletter" },
    { "type": "_cc-before-after" },
    { "type": "_cc-comparison-table" },
    { "type": "_cc-result-section" }
  ],
  "presets": [
    {
      "name": "t:general.settings.column"
    }
  ]
}
{% endschema %}
