{% if block.settings.image != blank or block.settings.description != blank or block.settings.title != blank %}
  {% assign product = block.settings.product %}

  {% style %}
    {% if block.settings.mobile_pos_enabled %}
      #shopify-block-{{ block.id }} .dbtfy-shoppable-image-item button {
        left: {{ block.settings.mobile_pos_left }}%;
        top: {{ block.settings.mobile_pos_top }}%;
        transform:translate(-{{ block.settings.mobile_pos_left }}%, -{{ block.settings.mobile_pos_top }}%);
      }
    {% endif %}

      {% unless block.settings.use_default_point_color %}
        #shopify-block-{{ block.id }} .dbtfy-shoppable-image-item button > span {
          display: block;
          padding: 3px;
          border-radius: 50%;
          border: 1px solid currentColor;
          background-color: transparent;
          transition: all .2s ease-out;
          animation: dbtfy-shoppable-image-animation-{{ block.id }} 2s infinite;
        }
        #shopify-block-{{ block.id }} .dbtfy-shoppable-image-item button span {
          border-color: {{ block.settings.custom_point_color }};
        }

        #shopify-block-{{ block.id }} .dbtfy-shoppable-image-item button > span > span {
          background: {{ block.settings.custom_point_color }};
        }

        {% if section.settings.display_hotspots_animation %}
          @keyframes dbtfy-shoppable-image-animation-{{ block.id }} {
            0% { box-shadow: 0 0 0 0px rgba({{ block.settings.custom_point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0.25); }
            100% { box-shadow: 0 0 0 20px rgba({{ block.settings.custom_point_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}, 0); }
          }
        {% endif %}
      {% endunless %}
      {% if block.settings.mobile_pos_enabled != blank %}
        @media (min-width: 750px) {
      {% endif %}
        #shopify-block-{{ block.id }} .dbtfy-shoppable-image-item button {
            left: {{ block.settings.desktop_pos_left }}%;
            top: {{ block.settings.desktop_pos_top }}%;
            transform:translate(-{{ block.settings.desktop_pos_left }}%, -{{ block.settings.desktop_pos_top }}%);
        }
      {% if block.settings.mobile_pos_enabled != blank %}
        }
      {% endif %}
  {% endstyle %}
  <div
    class="dbtfy-shoppable-image-item hotspot"
    role="listitem"
  >
    <button>
      <span><span> </span></span>
    </button>
    <div class="dbtfy-tooltip hidden" role="tooltip">
      <div class="card-wrapper product-card-wrapper">
        <div
          class="color-{{ settings.card_custom_color_scheme }} dbtfy-color-{{ settings.card_color_scheme }} gradient text-{{ block.settings.alignment }}"
        >
          {%- if product != blank or request.design_mode -%}
            {%- if section.settings.display_image -%}
              {%- if product != blank -%}
                <img
                  class="dbtfy-lookbook-product-img"
                  src="{{ product.featured_image | image_url: width: 600, height: 600 }}"
                  alt="{{ product.featured_image.alt }}"
                >
              {%- else -%}
                {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            {%- endif -%}
            <div class="inner-spacing dbtfy-shoppable-image-hotspot-content">
              {%- if product != blank -%}
                <h3 class="title m-0">
                  {{ product.title }}
                </h3>
              {%- endif -%}

              {%- if section.settings.display_price and product != blank -%}
                {%- render 'price', product: product -%}
              {%- endif -%}

              {%- if block.settings.description != blank -%}
                <div class="description rte">
                  {{ block.settings.description }}
                </div>
              {%- endif -%}
              {%- if section.settings.button_label != blank and product != blank -%}
                <add-to-cart-product data-product-id="{{ product.selected_or_first_available_variant.id }}">
                  <a
                    href="
                      {% if section.settings.button_action == 'product-page' %}
                        {{ product.url }}
                      {% else %}
                          javascript:void(0);
                      {% endif %}
                    "
                    class="button button--primary {% if section.settings.button_action == 'add-to-cart' %} button_add_to_cart{% endif %}"
                  >
                    {{ section.settings.button_label }}
                  </a>
                </add-to-cart-product>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
{%- schema -%}
{
  "name": "t:sections.dbtfy-product-features.settings.hotspot.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.block-name.label",
      "info": "t:general.settings.block-name.info",
      "default": "t:sections.dbtfy-product-features.settings.hotspot.name"
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-product-features.settings.hotspot.desktop_postion"
    },
    {
      "type": "range",
      "id": "desktop_pos_left",
      "label": "t:settings_schema.global.settings.horizontal_offset.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 69
    },
    {
      "type": "range",
      "id": "desktop_pos_top",
      "label": "t:settings_schema.global.settings.vertical_offset.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.dbtfy-product-features.settings.hotspot.mobile_postion"
    },
    {
      "type": "checkbox",
      "id": "mobile_pos_enabled",
      "label": "t:sections.dbtfy-product-features.settings.mobile_position_enable",
      "info": "t:sections.dbtfy-product-features.settings.mobile_position_info",
      "default": true
    },
    {
      "type": "range",
      "id": "mobile_pos_left",
      "label": "t:settings_schema.global.settings.horizontal_offset.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 65
    },
    {
      "type": "range",
      "id": "mobile_pos_top",
      "label": "t:settings_schema.global.settings.vertical_offset.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 45
    },
    {
      "type": "header",
      "content": "t:general.settings.content"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:general.settings.visibility.product.label"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:general.settings.description",
      "default": "t:blocks.dbtfy-lookbook-point.settings.description.default"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:general.settings.alignment.label",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "use_default_point_color",
      "label": "t:blocks.dbtfy-lookbook-point.settings.use_default_point_color.label",
      "default": true
    },
    {
      "type": "color",
      "id": "custom_point_color",
      "label": "t:blocks.dbtfy-lookbook-point.settings.custom_point_color.label",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "t:sections.dbtfy-product-features.settings.hotspot.name"
    }
  ]
}
{%- endschema -%}
