{%- if settings.dbtfy_global_music_player == false and block.settings.audio_src != blank -%}
  {%- render 'widget-blocker',
    enabled: settings.dbtfy_global_music_player,
    section: section,
    name: 'Global Music Player',
    type: '⚡ Paid widgets'
  -%}
{%- endif -%}
{% if settings.dbtfy_global_music_player and block.settings.audio_src != blank %}
  {{ 'dbtfy-global-music-player.css' | asset_url | stylesheet_tag }}
  {%- style -%}
    .dbtfy-music-player-{{ section.id }} {
      --offset-x: {{ block.settings.offset_x | divided_by: 10.0 }}rem;
      --offset-y: {{ block.settings.offset_y | divided_by: 10.0 }}rem;
    }
    @media screen and (max-width: 749px) {
      .dbtfy-music-player-{{ section.id }} {
        --offset-x: {{ block.settings.offset_x_mobile | divided_by: 10.0 }}rem;
        --offset-y: {{ block.settings.offset_y_mobile | divided_by: 10.0 }}rem;
      }
    }
  {%- endstyle -%}
  <dbtfy-global-music-player
    data-default-autoplay="{{ block.settings.default_autoplay }}"
    data-volume="{{ block.settings.volume | divided_by: 100.00 }}"
  >
    <div class="dbtfy-music-player dbtfy-music-player-{{ block.settings.position }} dbtfy-music-player-{{ section.id }} color-{{ block.settings.custom_color_scheme }} dbtfy-color-{{ block.settings.color_scheme }}">
      <audio
        loop
        class="dbtfy-music-player__audio"
        src="{{ block.settings.audio_src}}"
      ></audio>
      <button
        class="dbtfy-music-player__btn dbtfy-music-player__btn--paused color-{{ block.settings.custom_color_scheme }} dbtfy-color-{{ block.settings.color_scheme }}"
        {% if block.settings.audio_src == blank %}
          disabled
        {% endif %}
      >
        <svg
          class="dbtfy-music-player__btn__playing-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          fill="currentColor"
        >
          <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
        </svg>
        <svg
          class="dbtfy-music-player__btn__paused-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
          fill="currentColor"
        >
          <path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"/>
        </svg>
      </button>
    </div>
  </dbtfy-global-music-player>
  <script src="{{ 'dbtfy-global-music-player.js' | asset_url }}" type="text/javascript"></script>
{%- endif -%}
{%- schema -%}
{
  "name": "t:blocks.global-music-player.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:blocks.global-music-player.help.info"
    },
    {
      "type": "header",
      "content": "t:blocks.help.header"
    },
    {
      "type": "paragraph",
      "content": "t:blocks.global-music-player.help.youtube_link"
    },
    {
      "type": "paragraph",
      "content": "t:help.enterprise_info"
    },
    {
      "type": "header",
      "content": "t:general.settings.settigns"
    },
    {
      "type": "text",
      "id": "audio_src",
      "label": "t:blocks.global-music-player.audio.label",
      "info": "t:blocks.global-music-player.audio.info"
    },
    {
      "type": "paragraph",
      "content": "t:blocks.global-music-player.audio.info_link"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "volume",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:blocks.global-music-player.audio.volume",
      "default": 10
    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "bottom-left",
          "label": "t:general.settings.position.option__7"
        },
        {
          "value": "bottom-center",
          "label": "t:general.settings.position.option__8"
        },
        {
          "value": "bottom-right",
          "label": "t:general.settings.position.option__9"
        }
      ],
      "default": "bottom-left",
      "label": "t:settings_schema.wish_list.settings.icon_position_product_page.options.label",
      "info": "t:blocks.global-music-player.offset.info"
    },
    {
      "type": "range",
      "id": "offset_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:blocks.global-music-player.offset.offset_x",
      "default": 20
    },
    {
      "type": "range",
      "id": "offset_y",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:blocks.global-music-player.offset.offset_y",
      "default": 20
    },
    {
      "type": "range",
      "id": "offset_x_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:blocks.global-music-player.offset.offset_x_mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "offset_y_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:blocks.global-music-player.offset.offset_y_mobile",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:sections.all.color_schemes.header.heading.label",
      "info": "t:sections.all.color_schemes.header.info.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.all.color_schemes.default.label",
      "options": [
        {
          "value": "scheme-1",
          "label": "t:sections.all.color_schemes.default.options__1.label"
        },
        {
          "value": "scheme-2",
          "label": "t:sections.all.color_schemes.default.options__2.label"
        },
        {
          "value": "scheme-3",
          "label": "t:sections.dbtfy_text_col_with_img.settings.background_style.label"
        },
        {
          "value": "scheme-4",
          "label": "t:sections.all.color_schemes.default.options__4.label"
        },
        {
          "value": "custom",
          "label": "t:general.settings.size.option__9"
        }
      ],
      "default": "scheme-3"
    },
    {
      "type": "color_scheme",
      "id": "custom_color_scheme",
      "label": "t:sections.all.color_schemes.custom.label",
      "default": "scheme-1"
    }
  ]
}
{%- endschema -%}
