<button
  type="button"
  class="slider-button slider-button--prev {{ class }}"
  {% if custom_selector %}
    name="previous-{{ custom_selector }}"
  {% else %}
    name="previous"
  {% endif %}
  aria-label="{{ 'general.slider.previous_slide' | t }}"
>
  {% if custom_icon != blank %}
    <img
      src="{{ custom_icon |  image_url: width: settings.desktop_arrowsize, height: settings.desktop_arrowsize }}"
      alt="{{ custom_icon }}"
    >
  {% else %}
    {% render 'material-icon', icon: arrow %}
  {% endif %}
</button>
