{% if block.settings.video != blank %}
  <div
    class="image-slide__image image--ratio"
  >
    <div class=" media media--transparent media-{{ media_aspect_ratio }} {%- unless media_aspect_ratio == 'circle' -%} ratio{%-endunless-%}">
      <dbtfy-internal-video
        class="dbtfy-internal-video{% if block.settings.muted_autoplay %} dbtfy-internal-video--playing dbtfy-internal-video--muted{% endif %}"
        data-autoplay="{{ block.settings.muted_autoplay }}"
        {% if action_on_inactive != blank %}
          data-action-on-inactive="{{ action_on_inactive }}"
        {% endif %}
        {% if block.settings.display_play_btn or block.settings.muted_autoplay == false %}
          data-display-play-button="true"
        {% endif %}
      >
        {% liquid
          if block.settings.thumbnail != blank
            assign thumbnail = block.settings.thumbnail
          else
            assign thumbnail = block.settings.video.preview_image
          endif
        %}
        <video
          width="100%"
          height="auto"
          preload="metadata"
          poster="{{ thumbnail | image_url }}"
          {% if block.settings.loop %}
            loop
          {% endif %}
          {% if block.settings.muted_autoplay %}
            muted
          {% endif %}
          playsinline
          disablepictureinpicture
        >
          {% for source in block.settings.video.sources %}
            <source
              {% if block.settings.muted_autoplay %}
                data-
              {% endif -%}
              src="{{ source.url }}"
              type="{{ source.mime_type }}"
            >
          {% endfor %}
        </video>

        {% if block.settings.display_play_btn or block.settings.muted_autoplay == false %}
          <button class="dbtfy-internal-video__play">
            <div class="play-button {% if block.settings.btn_animation %} ripple-animation{% endif %}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                class="icon icon-play"
                fill="none"
                viewBox="0 0 10 14"
              >
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/>
              </svg>
            </div>
          </button>
        {% endif %}
        {% if block.settings.display_timeline %}
          <div class="dbtfy-internal-video__timeline">&nbsp</div>
        {% endif %}
        {% if block.settings.display_sound_btn %}
          <button class="dbtfy-internal-video__sound-btn {% if block.settings.muted_autoplay %}muted{% endif %} color-{{ block.settings.sound_btn_color_scheme }}">
            {% render 'material-icon', icon: 'volume_up', class: 'volume_up' %}
            {% render 'material-icon', icon: 'volume_off', class: 'volume_off' %}
          </button>
        {% endif %}
      </dbtfy-internal-video>
    </div>
  </div>
{% else %}
  {% render 'random_placeholder', placeholder: 'product-apparel-' %}
{% endif %}
