<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <script>
      const start = performance.now();
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Microdata -->
    {%- if request.page_type == 'product' and settings.dbtfy_sticky_addtocart -%}
      {%- render 'microdata-schema', product: product -%}
    {%- else -%}
      {%- render 'microdata-schema' -%}
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}&ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}&ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}&ndash; {{ shop.name }}{% endunless -%}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'meta-tags' -%}

    <script>
      {% render 'init.js' %}
      {% render 'debutify.js' %}
    </script>

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    {%- if request.design_mode -%}
      <script src="{{ 'shopify.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dbtfy-slider.js' | asset_url }}" defer></script>
    <script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script defer src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

    <link rel="stylesheet" href="{{ 'dbtfy-splide.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'dbtfy-splide.js' | asset_url }}" defer="defer"></script>

    {%- if settings.dbtfy_product_zooming and settings.dbtfy_product_zoom == 'lightbox' -%}
      <link rel="stylesheet" href="{{ 'simpleLightbox.min.css' | asset_url }}" media="print" onload="this.media='all'">
      <script defer src="{{ 'simpleLightbox.min.js' | asset_url }}"></script>
    {%- endif -%}

    {%- render 'color-schemes' -%}

    <link rel="stylesheet" href="{{ 'dbtfy-vars.css' | asset_url }}">

    {%- render 'material-icon-css' -%}
    {%- if settings.button_animation -%}
      {%- render 'button-animation-css' -%}
    {%- endif -%}
    <link rel="stylesheet" href="{{ 'dbtfy-video.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'dbtfy-video.js' | asset_url }}" defer></script>

    <style>
      .hidden {
        display: none;
      }
    </style>

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'dbtfy-drawer.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="{{ 'dbtfy-toast.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'dbtfy-toast.js' | asset_url }}" defer></script>

    {%- if settings.dbtfy_wish_list -%}
      <link rel="stylesheet" href="{{ 'dbtfy-wishlist.css' | asset_url }}" media="print" onload="this.media='all'">
      <script src="{{ 'dbtfy-wishlist.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- if settings.dbtfy_quick_view -%}
      <link rel="stylesheet" href="{{ 'dbtfy-quickview.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    {%- if settings.dbtfy_recently_viewed -%}
      <script src="{{ 'dbtfy-recently-viewed.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- if settings.dbtfy_quick_compare -%}
      <link rel="stylesheet" href="{{ 'dbtfy-compare.css' | asset_url }}" media="print" onload="this.media='all'">
      <script src="{{ 'dbtfy-compare.js' | asset_url }}" defer></script>
    {%- endif -%}

    <link
      rel="stylesheet"
      href="{{ 'dbtfy-element-animation.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
    <script src="{{ 'dbtfy-element-animation.js' | asset_url }}" defer></script>
    <script src="{{ 'dbtfy-fetch-product.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dbtfy-variant-picker.js' | asset_url }}" defer="defer"></script>
    <link rel="stylesheet" href="{{ 'dbtfy-modal.css' | asset_url }}" media="print" onload="this.media='all'">

    {%- if settings.dbtfy_delivery_date or settings.dbtfy_delivery_time -%}
      <link
        rel="stylesheet"
        href="{{ 'vanilla-calendar-pro.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
      <script src="{{ 'vanilla-calendar-pro.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- unless template.name == 'collection' -%}
      <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
      <link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
      <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
      <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    {%- endunless -%}
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

    <link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-totals.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-discounts.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- if settings.dbtfy_cart_savings -%}
      <link
        rel="stylesheet"
        href="{{ 'component-dbtfy-saving.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    {%- unless settings.type_body_font.system? -%}
      {%- comment -%}theme-check-disable AssetPreload{%- endcomment -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {%- comment -%}theme-check-enable AssetPreload{%- endcomment -%}
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      {%- comment -%}theme-check-disable AssetPreload{%- endcomment -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {%- comment -%}theme-check-enable AssetPreload{%- endcomment -%}
    {%- endunless -%}

    {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    {{ content_for_header }}
    <script>
      var Shopify = Shopify || {};
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }

      Shopify.money_format = '{{ shop.money_format }}';
      Shopify.dummyAmount = '{{ 99999999 | times: 100 | money_without_trailing_zeros }}';
      Shopify.dummyAmountWithoutCurrency = '{{ 99999999 | money_without_currency }}';

      Shopify.formatMoney = function (cents, format, hideCurrency) {
        if (typeof cents == 'string') {
          cents = cents.replace('.', '');
        }

        var value = '';
        var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
        var formatString = format || this.money_format;

        function defaultOption(opt, def) {
          return typeof opt == 'undefined' ? def : opt;
        }

        function formatWithDelimiters(number, precision, thousands, decimal) {
          precision = defaultOption(precision, 2);
          thousands = defaultOption(thousands, ',');
          decimal = defaultOption(decimal, '.');
          if (isNaN(number) || number == null) {
            return 0;
          }
          number = (number / 100.0).toFixed(precision);
          var parts = number.split('.'),
            dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
            cents = parts[1] ? decimal + parts[1] : '';
          return dollars + cents;
        }

        switch (formatString.match(placeholderRegex)[1]) {
          case 'amount':
            value = formatWithDelimiters(cents, 2);
            break;
          case 'amount_no_decimals':
            value = formatWithDelimiters(cents, 0);
            break;
          case 'amount_with_comma_separator':
            value = formatWithDelimiters(cents, 2, '.', ',');
            break;
          case 'amount_no_decimals_with_comma_separator':
            value = formatWithDelimiters(cents, 0, '.', ',');
            break;
        }
        if (hideCurrency) {
          return value;
        }
        return formatString.replace(placeholderRegex, value);
      };
    </script>
  </head>

  <body class="scroll-container gradient{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %} {% if settings.dbtfy_linked_options %}dbtfy_linked_options{% endif %} {% if settings.dbtfy_product_image_crop %}dbtfy_image_crop_enabled{% endif %} template-{{ template.name }} {% if cart == empty %} empty-cart{% endif %}">
    {%- if request.design_mode -%}
      <a href="#" class="dbtfy-free-plan-modal-trigger hidden">
        {% render 'material-icon', icon: 'warning' %}
      </a>

      <div class="dbtfy-free-plan-modal hidden">
        <h3 class="">
          You're in Free Plan. <br>
          All Premium features are disabled on your live site. <br>
          To unlock full access and take your store to the next level, consider upgrading to a paid plan.
        </h3>
        <a class="button button--primary" href="https://theme.debutify.com/settings/plans">
          <span>Click to Upgrade</span> <span class="glacier_animation"></span>
        </a>
      </div>
    {%- endif -%}

    <div class="not-loaded-hidden">
      {%- comment -%} All widgets as global settings {%- endcomment -%}
      {% section 'dbtfy-widgets-group' %}

      <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
    </div>

    {% sections 'widget-group' %}
    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
        min_error: `{{- 'sections.quick_order_list.min_error' | t: min: '[min]' }}`,
        max_error: `{{- 'sections.quick_order_list.max_error' | t: max: '[max]' }}`,
        step_error: `{{- 'sections.quick_order_list.step_error' | t: step: '[step]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
        countrySelectorSearchCount: `{{ 'localization.country_results_count' | t: count: '[count]' }}`,
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'contact-form.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'dbtfy-description-animation.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

    <script defer src="{{ 'dbtfy-modal.js' | asset_url }}"></script>
    <script defer src="{{ 'dbtfy-drawer.js' | asset_url }}"></script>

    <script defer src="{{ 'theme.js' | asset_url }}"></script>

    <script defer src="{{ 'dbtfy-search-bar-minimal.js' | asset_url }}"></script>
    {%- if settings.dbtfy_cart_variant_picker or settings.dbtfy_conditional_gift -%}
      <script defer src="{{ 'custom-variant-option.js' | asset_url }}"></script>
    {%- endif -%}

    <script>
      const end = performance.now();
      console.log(`Time taken: ${end - start} milliseconds`);
    </script>

    {%- comment -%} <script defer src="{{ 'gtranslate.js' | asset_url }}"></script> {%- endcomment -%}

    <!-- Google Tag Manager -->
    {%- render 'integrations-gtm' -%}

    <!-- Klaviyo app -->
    {%- render 'integrations-klaviyo' -%}

    <script>
      {% render 'license.js' %}
    </script>

    {%- if request.design_mode -%}
      {% render 'dbtfy-plan-modal' %}
    {%- endif -%}
  </body>
</html>
